<h1> Tracks </h1>

<table>
  <tr>
    <th>Name of Track</th>
    <th>Album</th>
    <th>Band</th>
  </tr>
  <% @tracks.each do |track|%>
    <tr>
      <td><%= link_to track.name , track_url(track)%> </td>
      <td><%= track.album %> </td>
      <td><%= track.band %> </td>
    </tr>
    <br>
  <% end%>
</table>
<% if admin_log_in? %>
  <p><%= button_to "Create new track", new_track_url %></p>
<%end%>