<h1> Bands </h1>

<table>
  <tr>
    <th>Band</th>
    <!-- <th>Album</th>
    <th>Band</th> -->
  </tr>
  <% @bands.each do |band|%>
    <tr>
      <td><%= link_to band.name , band_url(band)%> </td>

    </tr>
    <br>
  <% end%>
</table>

<% if admin_log_in? %>
  <p><%= button_to "Create new band", new_band_url %></p>
<% end%>